/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container, div.home-container {
    max-width: 42em;
    margin: auto;
}

h1 {
    max-width: 7em;
    margin: 1em 0.5em;
}

h1 img {
    width: 100%;
}

nav {
    margin: 1em 0.5em;
}

nav ul li {
    list-style: none;
    display: block;
}

nav ul li a {
    font-family: sans-serif;
    font-weight: 700;
    color: #395e7e;
    text-decoration: none;
    margin-right: 1em;
}

h2 {
    font-family: serif;
    font-weight: 700;
    color: #395e7e;
    margin-left: 0.1em;
    margin-top: 0.1em;
    font-size: 2em;
}

section.mainstory h2 {
    font-size: 2.8em;
}

section.secondarystory h2 {
    font-size: 2em;
}

section.tertiarystory h2 {
    font-size: 1.1em;
    padding-top: 0.6em;
    border-top: 1px solid #395e7e;
}

p {
    font-family: sans-serif;
    margin: 0.6em 1em 2em;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

article h2 {
    font-size: 2.8em;
    margin-top: 1em;
    margin-bottom: 0.3em;
}

figcaption {
    font-style: italic;
    font-family: sans-serif;
    color: #7a7a7a;
    margin-bottom: 1em;
    margin-top: .5em;
    margin-left: .2em;
}

aside {
    background-color: #c5ceff;
    padding: 1em 0.8em;
}

aside h2 {
    font-size: 1.1em;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

aside p {
    padding: 1.5em .5em;
}

footer {
    background-color: #395e7e;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 1em ;
    font-family: sans-serif;
    box-sizing: border-box;
}

@media screen and (min-width: 42em) {
    nav ul li {
        display: inline-block;
    }

    h1, h2, p {
        margin-left: 0;
    }
}

@media only screen and (min-width: 60em) {
    
    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }
}