/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	}

section {
	background-color: rgb(230, 230, 230);
	margin-bottom: 1em;
	margin-left: 0.75em;
	padding: 0.5em 1em;
	}

figure {
	margin: 0.5em 0em 1em 0em;
	}

	h2 {
		margin-top: 1.5em;
		}
	
	h3 {
		margin-bottom: 0;
		}
	
	ol {
		padding-left: 0;
		}
	
	p {
		margin-top: 0;
		margin-left: 0;
		}
	
	a {
		color: rgb (0, 0, 0);
		text-decoration: none;
		}

div.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 65em;
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	}

header {
	flex: 1 0 100%;
	margin-top: 1.5em;
	}

article {
	flex: 2 0 25em;
	}

aside {
	flex: 1 0 15em;
	padding: 0.5em;
	color:rgb(186, 181, 181),
	}

footer { 
	flex: 1 0 100%;
	padding-top: 0.5em;
	margin-top: 1em;
	border-top: 0.2em solid;
	border-color: rgb (200, 200, 200);
	}

@media screen and (max-width: 50em) {
	div.container {
		flex-direction: column;
	}

	aside,
	article,
	header,
	footer {
		flex: 1 0 100%;
	}

	section {
		margin-left: 0;
	}
}
